// @import "enhanced_fonts"; // for when you need special font features 
@import "fonts";
@import "mq";
@import "palette";
@import "dcr_enhancer"; //remove this line when using immersive weighting or the article template

/*----- DCR live Corrections -----*/
.element-immersive { //this fixes the incorrect dcr immersive margins and width
  width: 100vw !important;
  position: relative !important;
  left: 50% !important;
  right: 50% !important;
  margin-left: -50vw !important;
  margin-right: -50vw !important;

  @include mq(tablet) {
      transform: translateX(10px);
  }

  @include mq(leftCol) {
      transform: translateX(0);
  }
}
/* ------------------------- */

.interactive-atom {
    margin: 0;
    padding: 0;
}

.ios, .android {
    .element--immersive {
        width: 100vw !important;
        position: relative !important;
        left: 50% !important;
        right: 50% !important;
        margin-left: -50vw !important;
        margin-right: -50vw !important;
    }
    
    //remove dark mode padding in apps
    figure.element.element-atom, figure.interactive.interactive-atom.interactive--loading {
        padding: 0 !important;
    }
}




.interactive-atom {
    margin: 0;
    padding: 0;
}

.interactive-world-wrapper{
  background: white;
}

.interactive-header{
  @include fs-header(3);
}

.interactive-footer{
  @include fs-textSans(1);
  color: #B3B3B4;
  border-bottom: 1px solid #DCDCDC;
}

.key-container{
  max-width:500px;
  height: max-content;
  margin-bottom: 20px;
}

.key-bar, .key-footer{
  display: flex;
  flex-wrap: wrap;
}
.key-color-box, .key-text-box{
  height:8px;
  width:calc(300px / 6);

  @include mq($from: 100px, $until: 499px) {
    height:6px;
        width:calc(250px / 6);
    }
}
.key-color-box{
  margin-right: 1px;
}

.key-text-box:last-child{
  display:none;
}

.key-header{
  @include fs-header(1);
  font-size:16px;
  margin-bottom: 6px;
  margin-top: 6px;
  color:#676767;
}
.key-text-box{
  @include fs-textSans(2);
  color: #B3B3B4;
}

.tooltip-container{
    pointer-events: none;
    min-width:200px;
    height: max-content;
    padding:8px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #333;
    color: #333333;
    border-top: 1px solid #333;
    position: absolute;
    z-index: 100000;
    line-height: 18.2px;

    opacity: 0;

    &.over{
      opacity: 1;
    }
}

.tooltip-header-container{
  @include fs-header(1);
  margin-bottom: 6px;
}

.cases-counter, .cases-million-counter{
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  @include fs-textSans(2);
}

.cases-counter, .cases-million-counter:not(:last-child){
  margin-bottom: 5px;
  border-bottom: 2px dotted #b3b3b3;
  height:20px;
}

#gv-choropleth-svg{
  display: none;
  position: absolute;
  right: 0;
  margin-top: 8px;
}

.click-text{
  @include fs-textSans(2);
  color: #B3B3B4;
  margin-bottom: 8px;
}
.gv-background{
  fill:white;
}
