<div class="interactive-vaccines-wrapper">
	<div class="vac-interactive-header">Which countries have vaccinated the most people?</div>
	<div class="vac-key-container">
		<div class="vac-key-header">Percentage of people vaccinated, to date</div>
		<div class="vac-key-bar"></div>
		<div class="vac-key-footer"></div>
	</div>
	<div class="vac-map-container"></div>
	<div class="vac-interactive-footer">
		Source: Our World in Data. People vaccinated includes anyone to have received at least one dose of a Covid vaccine.
	</div>
	<div class="vac-tooltip-container">
		<div class="vac-tooltip-header-container"></div>
		<div class="vac-tooltip-content-container">
			<div class="vac-cases-counter">
				<div class="vac-cases-counter-header">People vaccinated</div>
				<div class="vac-cases-counter-value"></div>
			</div>
			<div class="vac-cases-million-counter">
				<div class="vac-cases-counter-header">Percentage of population</div>
				<div class="vac-cases-hundred-value"></div>
			</div>
		</div>
	</div>
</div>