
<div class="interactive-europe-wrapper">
	<div class="interactive-europe-header">Which European countries are being hit the hardest?</div>
	<div class="key-europe-container">
		<div class="key-europe-header">Case rate per 1m, last fortnight</div>
		<div class="key-europe-bar"></div>
		<div class="key-europe-footer"></div>
	</div>
	<div class="map-europe-container"></div>
	<div class="interactive-europe-footer">
		Source: Johns Hopkins University
	</div>
	<div class="tooltip-europe-container">
		<div class="tooltip-europe-header-container"></div>
		<div class="tooltip-europe-content-container">
			<div class="cases-europe-counter">
				<div class="cases-europe-counter-header">Rate per million (total)</div>
				<div class="cases-europe-counter-value"></div>
			</div>
			<div class="cases-europe-million-counter">
				<div class="cases-europe-counter-header">Rate per million (fortnight)</div>
				<div class="cases-europe-million-value"></div>
			</div>
		</div>
	</div>
</div>