
<div class="interactive-europe-wrapper">
	<div class="interactive-europe-header">Which European countries currently have the highest case rates?</div>
	<div class="key-europe-container">
		<div class="key-europe-header">Daily case rate per 1m, last week average</div>
		<div class="key-europe-bar"></div>
		<div class="key-europe-footer"></div>
	</div>
	<div class="map-europe-container"></div>
	<div class="interactive-europe-footer">Source: Johns Hopkins University. Note: JHU collates this data from multiple sources whose methodologies may differ from each other. Countries' varying testing rates will affect their recorded case rates. In addition, many of the sources have changed their reporting practices since the beginning of the pandemic or made revisions to their data.</div>
	<div class="tooltip-europe-container">
		<div class="tooltip-europe-header-container"></div>
		<div class="tooltip-europe-content-container">
			<div class="cases-europe-counter">
				<div class="cases-europe-counter-header">Rate per million (total)</div>
				<div class="cases-europe-counter-value"></div>
			</div>
			<div class="cases-europe-million-counter">
				<div class="cases-europe-counter-header">Rate per million (weekly)</div>
				<div class="cases-europe-million-value"></div>
			</div>
		</div>
	</div>
</div>