@import "fonts";
@import "mq";
@import "palette";
//@import "enhancer";

.interactive-atom {
    margin: 0;
    padding: 0;
}

.interactive-europe-wrapper{
	background: white;
}

.interactive-europe-header{
	@include fs-header(3);
}

.interactive-europe-footer{
	@include fs-textSans(1);
	color: #B3B3B4;
	border-bottom: 1px solid #DCDCDC;
}

.key-europe-container{
	max-width:500px;
	height: max-content;
	margin-bottom: 20px;
}

.key-europe-bar, .key-europe-footer{
	display: flex;
	flex-wrap: wrap;
}
.key-europe-color-box, .key-europe-text-box{
	height:8px;
	width:calc(300px / 6);

	@include mq($from: 100px, $until: 499px) {
		height:6px;
        width:calc(250px / 6);
    }
}
.key-europe-color-box{
	margin-right: 1px;
}

.key-europe-text-box:last-child{
	display:none;
}

.key-europe-header{
	@include fs-header(1);
	font-size:16px;
	margin-bottom: 6px;
	margin-top: 6px;
	color:#676767;
}
.key-europe-text-box{
	@include fs-textSans(2);
	color: #B3B3B4;
}

.tooltip-europe-container{
		pointer-events: none;
		min-width:200px;
		height: max-content;
		padding:8px;
		background: rgba(255, 255, 255, 0.9);
		border: 1px solid #333;
		color: #333333;
		border-top: 1px solid #333;
		position: absolute;
		z-index: 1;
		line-height: 18.2px;

		opacity: 0;

		&.over{
			opacity: 1;
		}
}

.tooltip-europe-header-container{
	@include fs-header(1);
	margin-bottom: 6px;
}

.cases-europe-counter, .cases-europe-million-counter{
	display: flex;
	flex-direction: row;
	flex: 1;
	justify-content: space-between;
	@include fs-textSans(2);
}

.cases-europe-counter, .cases-europe-million-counter:not(:last-child){
	margin-bottom: 5px;
	border-bottom: 2px dotted #b3b3b3;
	height:20px;
}


.map-over{
    stroke: #333333;
    stroke-width:1.5px;
}
