<div class="interactive-world-wrapper">
	<div class="tooltip-container">
		<div class="tooltip-header-container"></div>
		<div class="tooltip-content-container">
			<div class="cases-counter">
				<div class="cases-counter-header">Total cases</div>
				<div class="cases-counter-value"></div>
			</div>
			<div class="cases-million-counter">
				<div class="cases-counter-header">Rate per million</div>
				<div class="cases-million-value"></div>
			</div>
			<div class="chart"></div>
		</div>
	</div>
</div>