<div class="interactive-world-wrapper">
	<div class="interactive-header">Which countries are being hit the hardest?</div>
	<div class="key-container">
		<div class="key-header">Case rate per 1m, last fortnight</div>
		<div class="key-bar"></div>
		<div class="key-footer"></div>
	</div>
	<div class='click-text'>Click to zoom into the map</div>
	<div class="map-container">
		<svg id="gv-choropleth-svg" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 100 100">
			<g id="gv-reset-button" class="show-reset">
				<circle r="38" style="fill: white; stroke: rgb(18, 18, 18); stroke-width: 3px;" transform="translate(41, 41)">
					
				</circle>
				<path d="M12 4C16.425 4 19.9749 7.62499 19.9749 12C19.9749 16.425 16.425 19.9749 12 19.9749C7.57499 19.9749 4 16.425 4 12C4 7.62499 7.57499 4 12 4ZM12 6.02499C8.67498 6.02499 6.02499 8.67498 6.02499 12C6.02499 15.3 8.67498 18 12 18C15.3 18 18 15.3 18 12C18 8.67498 15.3 6.02499 12 6.02499ZM7.99999 12.75V11.25H16V12.75H7.99999ZM20.0249 18L25.9999 23.9749L23.9749 25.9999L18 20.0249V18.9999L18.9999 18H20.0249Z" transform="translate(20, 20) scale(2, 2) translate(-5, -5)">
				</path>
			</g>
		</svg>
	</div>
	<div class="interactive-footer">
		Source: Johns Hopkins University Note: JHU collates this data from multiple sources whose methodologies may differ from each other. In addition, many of the sources have changed their reporting practices since the beginning of the pandemic or made revisions to their data.
	</div>
	<div class="tooltip-container">
		<div class="tooltip-header-container"></div>
		<div class="tooltip-content-container">
			<div class="cases-counter">
				<div class="cases-counter-header">Rate per million (total)</div>
				<div class="cases-counter-value"></div>
			</div>
			<div class="cases-million-counter">
				<div class="cases-counter-header">Rate per million (fortnight)</div>
				<div class="cases-million-value"></div>
			</div>
		</div>
	</div>
</div>