
<div class="interactive-asia-wrapper">
	<div class="interactive-asia-header">Which Asian countries are being hit the hardest?</div>
	<div class="key-asia-container">
		<div class="key-asia-header">Case rate per 1m, last fortnight</div>
		<div class="key-asia-bar"></div>
		<div class="key-asia-footer"></div>
	</div>
	<div class="map-asia-container"></div>
	<div class="interactive-asia-footer">
		Source: Johns Hopkins University Note: JHU collates this data from multiple sources whose methodologies may differ from each other. In addition, many of the sources have changed their reporting practices since the beginning of the pandemic or made revisions to their data.
	</div>
	<div class="tooltip-asia-container">
		<div class="tooltip-asia-header-container"></div>
		<div class="tooltip-asia-content-container">
			<div class="cases-asia-counter">
				<div class="cases-asia-counter-header">Rate per million (total)</div>
				<div class="cases-asia-counter-value"></div>
			</div>
			<div class="cases-asia-million-counter">
				<div class="cases-asia-counter-header">Rate per million (fortnight)</div>
				<div class="cases-asia-million-value"></div>
			</div>
		</div>
	</div>
</div>